<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Productos</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="../plugins/toastr/toastr.min.css">

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../plugins/sweetalert2/sweetalert2.min.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div id="app">
    <div class="wrapper">
      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>

        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block"> {{ message }}</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <li class="nav-item">
                <a href="clientes.html" class="nav-link">
                  <i class="nav-icon fas fa-user mr-1"></i>
                  <p>
                    Clientes
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="etapas.html" class="nav-link">
                  <i class="nav-icon fas fa-tag mr-1"></i>
                  <p>
                    Etapas
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="productos.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-basket mr-1"></i>
                  <p>
                    Productos
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="vendedores.html" class="nav-link">
                  <i class="nav-icon fas fa-user-secret mr-1"></i>
                  <p>
                    Vendedores
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="ventas.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-cart mr-1"></i>
                  <p>
                    Ventas
                  </p>
                </a>
              </li>

            

              <li class="nav-item">
                <a href="visita.html" class="nav-link">
                  <i class="nav-icon fas fa-eye mr-1"></i>
                  <p>
                    Visitas
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Productos</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">

                    <div class="card-tools">
                      <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal" data-target="#modal-lg">
                        <i class="fas fa-barcode"></i>
                        Agregar producto
                      </button>
                    </div>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <!-- TABLA DE PRODUCTOS -->
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Categoria</th>
                          <th>Numero de registro</th>
                          <th>Precio</th>
                          <th>Fecha de creacion</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(producto, index) in productos" :key="index">
                          <td>{{ producto.id }}</td>
                          <td>{{ producto.nombre }}</td>
                          <td>{{ producto.categoria }}</td>
                          <td>{{ producto.numeroRegistro }}</td>
                          <td>${{ producto.precio }}</td>
                          <td>{{ producto.fechaCreacion }}</td>
                          <td>
                            <button class="btn btn-info btn-sm mx-2" @click="getProductById(producto.id)">
                              <i class="fas fa-edit mr-1"> Editar</i>
                            </button>

                            <button class="btn btn-danger btn-sm mx-2" @click="deleteProductById(producto.id)">
                              <i class="fas fa-trash mr-1"> Eliminar</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <!-- Modals -->
        <div class="modal fade" id="modal-lg">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
                <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresa nombre" v-model="formProduct.nombre" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Categoria</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Categoria" v-model="formProduct.categoria">
                      </div>
                      
                      <div class="row">
                        <div class="col">
                          <label for="exampleInputPassword1">Numero de registro</label>
                          <input type="text" class="form-control" placeholder="xxx-xxx-xxxx" v-model="formProduct.numeroRegistro">
                        </div>
                        <div class="col">
                          <label for="exampleInputPassword1">Precio</label>
                          <input type="number" class="form-control" placeholder="Precio" v-model="formProduct.precio"> 
                        </div>
                      </div>
                    </div>
                  
                </div>

                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" @click="idProdut > 0 ? updateProduct() : saveProduct()">{{ titleButton }}</button>
                </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 3.2.0
        </div>
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  </div>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          clientes: [],
          productos: [],
          formProduct: {
            id: null,
            nombre: '',
            categoria: '',
            precio: '',
            numeroRegistro: '',
            fechaCreacion: null
          },
          idProdut: -1,
          message: 'USTeam',
        }
      },
      mounted(){
        this.getProducts();
      },
      computed:{
        title(){
          return this.idProdut > 0 ? 'Actualizar producto' : 'Guardar Producto';
        },
        titleButton(){
          return this.idProdut > 0 ? 'Actualizar' : 'Guardar';
        },
      },
      methods: {
        // menu(item){
        //   switch (item) {
        //     case 'productos':
        //       this.showProductos = true;
        //       this.titleView = 'Productos';
        //       this.titleButtonAdd = 'Add Product';
        //       break;
          
        //     default:
        //       break;
        //   }
        // },
        hideModal() {
          this.formProduct = {
            id: null,
            nombre: '',
            categoria: '',
            precio: '',
            numeroRegistro: '',
            fechaCreacion: null
          };
          this.idProdut = -1;
          $("#modal-lg").modal("hide")
        },
        async getProductById(id) {
          let productById = [];
          productById = await axios.get('http://localhost:8080/producto/'+id)
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
          
          this.idProdut = productById.id;
          this.formProduct.nombre = productById.nombre;
          this.formProduct.categoria = productById.categoria;
          this.formProduct.precio = productById.precio;
          this.formProduct.numeroRegistro = productById.numeroRegistro;
          $('#modal-lg').modal('show');
        },
        async getProducts() {
          this.productos = await axios.get('http://localhost:8080/producto')
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
        },
        async saveProduct() {
          // e.preventDefault(); //Evita que se recargue la pagina
          const fecha = new Date();
          const anioActual = fecha.getFullYear();
          const hoy = fecha.getDate();
          const mesActual = fecha.getMonth() + 1; 
          const str1 = '';

          let mydate = str1.concat(anioActual,'-', mesActual,'-', hoy)

          this.formProduct.fechaCreacion= new Date(mydate);

          try {
            const { data } = await axios.post("http://localhost:8080/producto", this.formProduct)

            Toast.fire({
                icon: 'success',
                title: 'Se ha guardado el producto'
              });

            this.getProducts();

            this.hideModal();
          } catch (error) {
            this.showErrors(error);
          }
        },
        async updateProduct() {
          // e.preventDefault(); //Evita que se recargue la pagina
          const fecha = new Date();
          const anioActual = fecha.getFullYear();
          const hoy = fecha.getDate();
          const mesActual = fecha.getMonth() + 1; 
          const str1 = '';

          let mydate = str1.concat(anioActual,'-', mesActual,'-', hoy)

          this.formProduct.id = this.idProdut;
          this.formProduct.fechaCreacion= new Date(mydate);

          try {
            const { data } = await axios.put("http://localhost:8080/producto/"+this.idProdut, this.formProduct)

            Toast.fire({
                icon: 'success',
                title: 'Se ha actualizado el producto'
              });

            this.getProducts();

            this.hideModal();
          } catch (error) {
            this.showErrors(error);
          }
        },
        async deleteProductById(id) {
          Swal.fire({
            title: 'Estas seguro que deseas eliminar este registro?',
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#d33',
            confirmButtonText: 'Si, eliminalo',
            cancelButtonText: `No espera!`,
          }).then(async (result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              try {
                const { data } = await axios.delete('http://localhost:8080/producto/'+id)

                Toast.fire({
                  icon: 'success',
                  title: 'Producto eliminado',
                })

                this.getProducts()
              } catch (error) {
                this.showErrors(error)
              }
            }
          });
        },
        showErrors(errorResponse) {
          let errorsFormated = this.formatErrors(errorResponse)
          Toast.fire({
            icon: 'error',
            title: errorsFormated,
          })
        },
        formatErrors(errorResponse) {
          let errorObject = errorResponse.response.data.errores

          errorsFormated = "";
          Object.keys(errorObject).forEach(key => {
            errorsFormated += errorObject[key] + "\n\n"
          });

          return errorsFormated;
        }
      }
    }).mount('#app');


  </script>

  <!-- jQuery -->
  <script src="../plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <!-- jQuery -->
  <!-- Bootstrap 4 -->
  <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- SweetAlert2 -->
  <script src="../plugins/sweetalert2/sweetalert2.min.js"></script>
  <!-- <script src="plugins/sweetalert2/sweetalert2.all.min.js"></script> -->
  <!-- Toastr -->
  <script src="../plugins/toastr/toastr.min.js"></script>
  <!-- <script src="plugins/toastr/toastr.min.js"></script> -->
  <!-- AdminLTE App -->
  <script src="../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../dist/js/demo.js"></script>
  <script src="../plugins/moment/moment.min.js"></script>
  <script src="../plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="../dist/js/adminlte.js"></script>
  <script>
    let Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });
  </script>
</body>

</html>
