<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Vendedores</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.min.css">

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/../dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/../dist/ionicons/ionicons.js"></script>

  <!-- SweetAlert2 -->
  <!-- <link rel="stylesheet" href="../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"> -->
  <link rel="stylesheet" href="../plugins/sweetalert2/sweetalert2.min.css">


</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div id="app">
    <div class="wrapper">

      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>

        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block"> {{ message }}</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <li class="nav-item">
                <a href="clientes.html" class="nav-link">
                  <i class="nav-icon fas fa-user mr-1"></i>
                  <p>
                    Clientes
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="etapas.html" class="nav-link">
                  <i class="nav-icon fas fa-tag mr-1"></i>
                  <p>
                    Etapas
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="productos.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-basket mr-1"></i>
                  <p>
                    Productos
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="vendedores.html" class="nav-link">
                  <i class="nav-icon fas fa-user-secret mr-1"></i>
                  <p>
                    Vendedores
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="ventas.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-cart mr-1"></i>
                  <p>
                    Ventas
                  </p>
                </a>
              </li>

            

              <li class="nav-item">
                <a href="visita.html" class="nav-link">
                  <i class="nav-icon fas fa-eye mr-1"></i>
                  <p>
                    Visitas
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">{{ title }}</h1>
              </div><!-- /.col -->

            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">

            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">

                    <div class="card-tools">
                      <button type="button" class="btn btn-block btn-primary btn-lg" @click="openModal">
                        <ion-icon name="person-add-outline"></ion-icon>
                        Agregar {{ modulo }}
                      </button>
                    </div>
                  </div>


                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Correo</th>
                          <th>Direccion</th>
                          <th>Telefono</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(vendedor, index) in vendedors" :key="index">
                          <td>{{ vendedor.id }}</td>
                          <td>{{ vendedor.nombre }}</td>
                          <td>{{ vendedor.correo }}</td>
                          <td>{{ vendedor.direccion }}</td>
                          <td>{{ vendedor.telefono }}</td>
                          <td>
                            <button class="btn btn-info btn-sm mx-2" @click="loadVendedorInfo(vendedor.id)">
                              <i class="nav-icon fas fa-edit mr-1"></i>Editar
                            </button>
                            <button class="btn btn-danger btn-sm mx-2" @click="deleteVendedor(vendedor.id)">
                              <i class="nav-icon fas fa-trash mr-1"></i>Eliminar
                            </button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <!-- Modals -->
        <div class="modal fade" id="modal-newVendedor" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Datos de la {{modulo}}</h4>
                <button type="button" class="close" @click="hideModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" v-model="newVendedor.nombre" name="nombre"
                        placeholder="Ingresa el nombre del cliente">
                    </div>
                    <div class="form-group">
                      <label for="correo">Correo</label>
                      <input type="email" class="form-control" id="correo" v-model="newVendedor.correo"
                        name="correo" placeholder="Ingresa correo de contacto">
                    </div>
                    <div class="form-group">
                      <label for="direccion">Direccion</label>
                      <input type="text" class="form-control" id="direccion" v-model="newVendedor.direccion"
                        name="direccion" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                      <label for="telefono">Telefono</label>
                      <input type="text" class="form-control" id="telefono"
                        v-model="newVendedor.telefono" name="telefono"
                        placeholder="Ingresa el numero de empleados">
                    </div>
                    
                  </div>
                  <!-- /.card-body -->

                </form>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" @click="hideModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" @click="saveVendedor()">Guardar</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 3.2.0
        </div>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  </div>


  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          title: "Vendedores",
          modulo: "vendedor",
          vendedors: [],
          newVendedor: {
            id: null,
            nombre: null,
            correo: null,
            telefono: null,
          },
          message: 'USTeam',
          customerSelected: {
            id: null,
            nombre: null,
            correo: null,
            telefono: null,
          }
        }
      },
      methods: {
        async loadVendedorList() {

          try {
            const { data } = await axios.get('http://localhost:8080/vendedor')

            // console.log("data", data);
            this.vendedors = data;


          } catch (error) {

            Toast.fire({
              icon: 'error',
              title: 'Ha habdo un error conectando en la conexion con el servidor'
            })
            console.log("error", error);
          }

        },


        async saveVendedor() {
          // console.log("this.newVendedor", this.newVendedor);

          try {

            const { data } = await axios.post('http://localhost:8080/vendedor', this.newVendedor)

            // console.log("data", data);

            let tipoAccion = "creado";
            if (this.newVendedor.id) {
              tipoAccion = "actualizado";
            }


            Toast.fire({
              icon: 'success',
              title: 'Vendedor ' + tipoAccion,
            })

            this.loadVendedorList()

            this.newVendedor = {
              nombre: null,
              correo: null,
              numeroEmpleados: null,
              orden: null,
            }

            this.hideModal()

          } catch (errorResponse) {

            console.log(errorResponse);

            this.showErrors(errorResponse)

          }

        },
       
        async deleteVendedor(idSelected) {


          Swal.fire({
            title: 'Estas seguro que deseas eliminar este registro?',
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#d33',
            confirmButtonText: 'Si, eliminalo',
            cancelButtonText: `No espera!`,
          }).then(async (result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              try {
                const { data } = await axios.delete('http://localhost:8080/vendedor/' + idSelected)

                console.log("data", data);

                Toast.fire({
                  icon: 'success',
                  title: 'Vendedor eliminado',
                })

                this.loadVendedorList()

                // this.vendedors = data;
              } catch (errorResponse) {

                console.log(errorResponse);
                this.showErrors(errorResponse)
              }
            }

          })


        },


        loadVendedorInfo(idSelected) {
          this.customerSelected = this.vendedors.find(element => element.id == idSelected)
          // this.newVendedor = this.customerSelected
          this.newVendedor = {
            id: this.customerSelected.id,
            nombre: this.customerSelected.nombre,
            correo: this.customerSelected.correo,
            telefono: this.customerSelected.telefono,
            direccion: this.customerSelected.direccion,
          },

            this.openModal()

        },


        showErrors(errorResponse) {
          let errorsFormated = this.formatErrors(errorResponse)
          Toast.fire({
            icon: 'error',
            title: errorsFormated,
          })
        },
        formatErrors(errorResponse) {
          let errorObject = errorResponse.response.data.errores

          errorsFormated = "";
          Object.keys(errorObject).forEach(key => {
            errorsFormated += errorObject[key] + "\n\n"
          });

          return errorsFormated;

        },


        openModal() {

          $("#modal-newVendedor").modal("show")

        },
        hideModal() {
          this.newVendedor = {
            nombre: null,
            correo: null,
            numeroEmpleados: null,
            orden: null,
          }

          $("#modal-newVendedor").modal("hide")

        },

      },
      mounted() {
        this.loadVendedorList()
      }
    }).mount('#app');


  </script>

  <!-- jQuery -->
  <script src="../plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="../plugins/chart.js/Chart.min.js"></script> -->
  <!-- Sparkline -->
  <!-- <script src="../plugins/sparklines/sparkline.js"></script> -->
  <!-- JQVMap -->
  <!-- <script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script> -->
  <!-- jQuery Knob Chart -->
  <!-- <script src="../plugins/jquery-knob/jquery.knob.min.js"></script> -->
  <!-- daterangepicker -->
  <script src="../plugins/moment/moment.min.js"></script>
  <script src="../plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <!-- <script src="../plugins/summernote/summernote-bs4.min.js"></script> -->
  <!-- overlayScrollbars -->
  <!-- <script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script> -->
  <!-- AdminLTE App -->
  <script src="../dist/js/adminlte.js"></script>
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="../dist/js/demo.js"></script> -->
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <!-- <script src="../dist/js/pages/dashboard.js"></script> -->


  <!-- SweetAlert2 -->
  =
  <script src="../plugins/sweetalert2/sweetalert2.all.min.js"></script>

  <!-- Custom Toast -->
  <script src="../dist/js/toast.js"></script>

</body>

</html>