<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Visita</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"> -->
  <!-- iCheck -->
  <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="../plugins/toastr/toastr.min.css">

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../plugins/sweetalert2/sweetalert2.min.css">
  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-select/dist/vue-select.css"/>
  <script src="https://unpkg.com/vue@next/dist/vue.global.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div id="app">
    <div class="wrapper">
      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div>
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>

        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block"> {{ message }}</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <li class="nav-item">
                <a href="clientes.html" class="nav-link">
                  <i class="nav-icon fas fa-user mr-1"></i>
                  <p>
                    Clientes
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="etapas.html" class="nav-link">
                  <i class="nav-icon fas fa-tag mr-1"></i>
                  <p>
                    Etapas
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="productos.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-basket mr-1"></i>
                  <p>
                    Productos
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="vendedores.html" class="nav-link">
                  <i class="nav-icon fas fa-user-secret mr-1"></i>
                  <p>
                    Vendedores
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="ventas.html" class="nav-link">
                  <i class="nav-icon fas fa-shopping-cart mr-1"></i>
                  <p>
                    Ventas
                  </p>
                </a>
              </li>

            

              <li class="nav-item">
                <a href="visita.html" class="nav-link">
                  <i class="nav-icon fas fa-eye mr-1"></i>
                  <p>
                    Visitas
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Visita</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">

                    <div class="card-tools">
                      <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal" data-target="#modal-lg">
                        <i class="fas fa-dollar"></i><i class="fa-sharp fa-messages-dollar"></i>
                        Agregar visita
                      </button>
                    </div>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <!-- TABLA DE PRODUCTOS -->
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Cliente</th>
                          <th>Fecha Programada</th>
                          <th>Direccion</th>
                          <th>Proposito</th>
                          <th>Vendedor</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(visita, index) in visitas" :key="index">
                          <td>{{ visita.id }}</td>
                          <td>{{ visita.cliente.nombre }}</td>
                          <td>{{ visita.fechaProgramada }}</td>
                          <td>{{ visita.direccion }}</td>
                          <td>{{ visita.proposito }}</td>
                          <td>{{ visita.vendedor }}</td>
                          <td>
                            <button class="btn btn-info btn-sm mx-2" @click="getVisitById(visita.id)">
                              <i class="fas fa-edit mr-1"> Editar</i>
                            </button>

                            <button class="btn btn-danger btn-sm mx-2" @click="deleteVisitById(visita.id)">
                              <i class="fas fa-trash mr-1"> Eliminar</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <!-- Modals -->
        <div class="modal fade" id="modal-lg">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
                <div class="modal-body">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Cliente</label>
                        <select class="form-control selectpicker" data-live-search="true" v-model="formVisit.cliente">
                          <option v-for="(client, index) in clientes" :key="index" v-bind:value="client.id">{{ client.nombre }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Fecha de la cita</label>
                        <input type="datetime-local" class="form-control" id="" placeholder="Fecha de la cita" v-model="formVisit.fechaProgramada">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Direccion</label>
                        <input type="text" class="form-control" id="" placeholder="Fecha de la cita" v-model="formVisit.direccion">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Proposito</label>
                        <input type="text" class="form-control" id="" placeholder="Fecha de la cita" v-model="formVisit.proposito">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Vendedor</label>
                        <select class="form-control selectpicker" data-live-search="true" v-model="formVisit.vendedor">
                          <option v-for="(vendor, index) in vendedores" :key="index" v-bind:value="vendor.nombre">{{ vendor.nombre }}</option>
                        </select>
                      </div>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" @click="idSale > 0 ? updateVisit() : saveVisit()">{{ titleButton }}</button>
                </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 3.2.0
        </div>
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  </div>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          clientes: [],
          vendedores: [],
          visitas: [],
          formVisit: {
            id: null,
            cliente: null,
            fechaProgramada: null,
            direccion: '',
            proposito: '',
            vendedor: ''
          },
          productoSelected: [],
          idVisit: -1,
          message: 'USTeam',
        }
      },
      mounted(){
        this.getVisit();
        this.getClients();
        this.getVendors();
      },
      computed:{
        title(){
          return this.idVisit > 0 ? 'Actualizar venta' : 'Guardar venta';
        },
        titleButton(){
          return this.idVisit > 0 ? 'Actualizar' : 'Guardar';
        },
      },
      methods: {
        hideModal() {
          this.formVisit = {
            id: null,
            cliente: null,
            fechaProgramada: null,
            direccion: '',
            proposito: '',
            vendedor: ''
          };
          this.idVisit = -1;
          $("#modal-lg").modal("hide")
        },
        async getVisitById(id) {
          let visitById = [];
          visitById = await axios.get('http://localhost:8080/visita/'+id)
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
          
          this.idVisit = visitById.id;
          this.formVisit.cliente = visitById.cliente.id;
          this.formVisit.fechaProgramada = visitById.fechaProgramada;
          this.formVisit.direccion = visitById.direccion;
          this.formVisit.proposito = visitById.proposito;
          this.formVisit.vendedor = visitById.vendedor;
          $('#modal-lg').modal('show');
        },
        async getVisit() {
          this.visitas = await axios.get('http://localhost:8080/visita')
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
        },
        async getClients() {
          this.clientes = await axios.get('http://localhost:8080/cliente')
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
        },
        async getVendors() {
          this.vendedores = await axios.get('http://localhost:8080/vendedor')
            .then(function (response) {
              return response.data;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              return null;
            });
        },
        async saveVisit() {
          this.formVisit.cliente = {
            id: this.formVisit.cliente
          }

          try {
            const { data } = await axios.post("http://localhost:8080/visita", this.formVisit)

            Toast.fire({
                icon: 'success',
                title: 'Se ha guardado la visita'
              });

            this.getVisit();

            this.hideModal();
          } catch (error) {
            console.log('error', error);
            this.showErrors(error);
          }
        },
        async updateVisit() {
          this.formVisit.cliente = {
            id: this.formVisit.cliente
          }

          try {
            const { data } = await axios.put("http://localhost:8080/visita/"+this.idVisit, this.formVisit)

            Toast.fire({
                icon: 'success',
                title: 'Se ha actualizado la visita'
              });

            this.getVisit();

            this.hideModal();
          } catch (error) {
            this.showErrors(error);
          }
        },
        async deleteVisitById(id) {
          Swal.fire({
            title: 'Estas seguro que deseas eliminar este registro?',
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#d33',
            confirmButtonText: 'Si, eliminalo',
            cancelButtonText: `No espera!`,
          }).then(async (result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              try {
                const { data } = await axios.delete('http://localhost:8080/visita/'+id)

                Toast.fire({
                  icon: 'success',
                  title: 'Visita eliminada',
                })

                this.getVisit()
              } catch (error) {
                this.showErrors(error)
              }
            }
          });
        },
        showErrors(errorResponse) {
          let errorsFormated = this.formatErrors(errorResponse)
          Toast.fire({
            icon: 'error',
            title: errorsFormated,
          })
        },
        formatErrors(errorResponse) {
          let errorObject = errorResponse.response.data.errores

          errorsFormated = "";
          Object.keys(errorObject).forEach(key => {
            errorsFormated += errorObject[key] + "\n\n"
          });

          return errorsFormated;
        }
      }
    }).mount('#app');


  </script>

  <!-- jQuery -->
  <script src="../plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <!-- jQuery -->
  <!-- Bootstrap 4 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <!-- <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- SweetAlert2 -->
  <script src="../plugins/sweetalert2/sweetalert2.min.js"></script>
  <!-- <script src="plugins/sweetalert2/sweetalert2.all.min.js"></script> -->
  <!-- Toastr -->
  <script src="../plugins/toastr/toastr.min.js"></script>
  <!-- <script src="plugins/toastr/toastr.min.js"></script> -->
  <!-- AdminLTE App -->
  <script src="../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../dist/js/demo.js"></script>
  <script src="../plugins/moment/moment.min.js"></script>
  <script src="../plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="../dist/js/adminlte.js"></script>
  
  <script>
    let Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });


  </script>
</body>

</html>
